h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif;
}
@media (min-width: 0px) {  /*Extra Small Screen Size*/
    body{
        font-family: 'Abel', sans-serif;
        background-color: #f0f0f0;
    }
    .backGround{
        margin-top: 39px;
        height: 60px;
        width: 100%;
        background-color: #ffffff;
    }
    .row{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    nav>p{
        font-size: 2.5em;
    }
    nav{
        margin: 1.5rem auto;
    }
    ul{
        display: flex;
        list-style: none;
        padding: 0;
    }
    li{
        padding: .5em;
    }
    img{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -52.5px;
        height: 105px;
        margin-top: 1em;
    }
    .nav-list>a{
        color: #000000;
    }
}
@media (min-width: 576px){ /* Small Screen Size*/

}
@media (min-width: 768px){ /*Medium Screen Size*/

}
@media (min-width: 992px){  /*Large Screen Size*/

}
@media (min-width: 1200px){  /*Extra Large Screen Size*/

}