body{
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}
.background{
    margin-top: 39px;
    height: 60px;
    background-color: #ffffff;
}
.img>img{
    height: 105px;
    width: 105px;
}
@media (min-width: 0px) and (max-width: 575px){  /*Extra Small Screen Size*/
    .img>img{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -52.5px;
        margin-top: 1em;
    }
    .header{
        margin-top: 1rem;
    }
    .header>p{
        font-size: 2.5em;
    }
    .header>ul{
        list-style: none;
        padding: 0;
    }
    ul>li{
        padding: .5em;
        display: inline-block;
    }
    .nav-list>a{
        font-size: .9em;
        color: #000000;
    }
    section>h1{
        margin: 1em .25em;
    }
    #circle-container{
        margin: 2em 0;
    }
    .red-circle{
        background-color: #e6563b;
    }
    .orange-circle{
        background-color: #EB9D3A;
    }
    .green-circle{
        background-color: #7cb06c;
    }
    .blue-circle{
        background-color: #00aba9;
    }
    .large-circle{
        width: 105px;
        height: 105px;
        color: #ffffff;
        margin: 1em auto;
        border-radius: 50%;
        border: 5px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .large-circle>h4{
        margin: 0;
        color: #ffffff;
    }
    .card{
        border: none;
        margin: 2em 2em;
    }
    .card>.card-img{
        background-color: #e6e6e6;
        margin: 0;
        padding: 5px;
    }
    .product-image{
        padding: 0;
    }
    .card-body{
        padding: .2rem 1rem;
        background-color: #f0f0f0;
    }
    .card-body>p{
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .bdg-section{
        padding-right: 0;
        text-align: right;
    }
    .small-circle{
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin: 2px;
    }
    #card-2{
        display:none;
    }
    #card-3{
        display:none;
    }
    #card-4{
        display:none;
    }
}
@media (min-width: 576px){ /* Small Screen Size*/

@media (min-width: 768px) {  /*Medium Screen Size*/

}
@media (min-width: 992px){  /*Large Screen Size*/

}
@media (min-width: 1200px){  /*Extra Large Screen Size*/

}